/* Navbar user */
.navbar-user {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #308eed;
    padding: 20px 25px;
    color: #fff;
    transition: all 0.3s ease;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.navbar-user a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
}

.navbar-user a:hover {
    color: #f39c12;
}

.navbar-user.shrink {
    padding: 8px 25px;
    background-color: #1f2a38; /* màu tối hơn khi cuộn */
}

body {
    padding-top: 80px; /* tránh navbar che nội dung */
}
